# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/AirAPI_Win/FileContentIndex/1a1d927b-b961-4cf2-a81e-0226cc07c29d.vsidx
.vs/AirAPI_Win/FileContentIndex/22fb8859-0589-48c0-8765-a5b927d88bcf.vsidx
.vs/AirAPI_Win/FileContentIndex/a33c58e3-496b-47a5-8fc0-b919a9702ff0.vsidx
.vs/AirAPI_Win/FileContentIndex/df37bec4-1b6d-47dc-9ac8-5e71f2904659.vsidx
.vs/AirAPI_Win/FileContentIndex/read.lock
.vs/AirAPI_Win/v17/.suo
.vs/AirAPI_Win/v17/Browse.VC.db
.vs/AirAPI_Win/v17/ipch/3ec03324497b5319.ipch
.vs/AirAPI_Win/v17/ipch/8749a986e5cffce8.ipch
.vs/AirAPI_Win/v17/ipch/92083611eae9c838.ipch
.vs/AirAPI_Win/v17/.suo
.vs/AirAPI_Win/v17/Browse.VC.db
